*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.parent{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: aliceblue;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 60px;
    box-shadow: 2px 2px 25px;
    background-color: aliceblue;
    font-size: 30px;
    font-weight: bold;
}
span{
    color: rgb(16, 223, 154);
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.plus{
    display: flex;
    position: absolute;
    left: 800px;
    top: 120px;
}
.color{
    color: rgb(8, 217, 147);
    font-size: 30px;
    padding: 20px 0 0 0px; 
}
.new{

    padding: 20px;


}
.main-content{
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: flex-start;
    position: absolute;
    gap: 25px;
    top: 200px;
}
.box{
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    border: 1px solid aqua;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}
input[type=checkbox]{
    margin-top: 30px;
    margin-left: 20px;
    width: 20px;
    height: 20px;

}
#child{
    margin-left: 20px;
    text-decoration: line-through;
    color: gray;
}
#child1{
    margin-left: 20px;
    color: grey;
}
h2{
    font-size: 25px;
    padding: 20px 0px 15px 5px;
    color: rgb(3, 238, 160);
}
hr{
    margin-top: 10px;
}
#box1{
    color: rgb(8, 217, 147);
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}
.container{
     width: 400px;
     height: 250px;
     border: 1px solid aqua;
     box-shadow: 2px 2px 5px grey;
     border-radius: 5px;
     position: absolute;
     top: 284px;
     left: 448px;
}
.container1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 25px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px 0 10px 15px;
}
.container1 i{
    padding-right: 20px;
}
.text{
    display: flex;
    width: 100%;
    justify-content: center;
}
.text input{
    width: 100%;
    height: 35px;
    margin-top: 20px;
}
.text1{
    width: 140px;
    height: 45px;
    background-color: rgb(67, 67, 185);
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.text1 p{
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
}
.parent3{
    padding: 20px 0px 10px 15px;
}
.plus1{
    display: flex;
    position: absolute;
    right: 700px;
    top: 120px;
}
.new1{

    padding-left: 800px;
    padding-top: 85px;
}
.back{
    display: flex;
    position: absolute;
    left: 450px;
    bottom: 580px;
}
.color1{
    color: black;
    font-size: 20px;
}
.bac a{
    position: absolute;
    top: 142px;
    right: 950px;
}
    
    
.parent3{
    width: 400px;
    height: 300px;
    box-shadow: 2px 2px 5px solid grey;
    position: absolute;
    top: 200px;
    left: 450px;
    background-color: white;
    border: 1px solid aqua;
    border-radius: 5px;
}
.blur{
    filter: blur(4px);
}
@media screen and (min-width:250px) and (max-width:500px){
    .navbar{
        width: 100%;
        height: 100px;
        padding: 20px;
        position: absolute;
    }
    .plus{
        display: flex;
        position: absolute;
        left: 200px;
        top: 100px;
    }
    .new{
        display: none;
    }
    .content{
        width: 370px;
        height: 250px;
        position: absolute;
        top: 200px;
        gap: 10px;
        justify-content: center;
    }

    .container{
       width: 370px;
       height: 250px;
       position: absolute;
       top: 300px;
       left: 20px;
   
   }
    .plus1{
        display: flex;
        position: absolute;
        left: 200px;
        top: 100px;
    }
    .new1{
        display: none;
    }
   .back{
    display: flex;
    position: absolute;
    left: 50px;
    top: 125px;
   }
   .bac a{
      left: 80px;
      top: 125px;
   }
   .parent3{
    width: 370px;
    height: 250px;
    position: absolute;
    top: 200px;
    left: 25px;
   }
}